/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-dic-2016, 15:11:14
    Author     : rafa
*/

.navbar-brand {
    padding: 0px;
    height: 80px;
}
.navbar-brand>img {
    height: 100%;
    width: auto;
}
.nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}
.navbar {
    font-size: 20px;
}
.item {
    display: block;
    width: 100%;
    height: 800px;
}
.item img {
    height: 50%;
    width: 50%;
    align-items: center;
}
.item h3{

}
.unProducto{
    background: #4e5d6c;
    padding: 10px;
}














footer {
    position: relative;
    /* Altura total del footer en px con valor negativo */
    margin-top: -110px;
    /* Altura del footer en px. Se han restado los 5px del margen
       superior mas los 5px del margen inferior
    */
    height: 100px;
    padding:5px 0px;
    clear: both;
    background: #4e5d6c;
    text-align: center;
    color: #fff;
}

/* Esta clase define la anchura del contenido y la posicion centrada 
   El contenido queda centrado y limitado, pero la cabecera y el pie
   llegan hasta los limites del navegador.
*/
.define {
    width:960px;
    margin:0 auto;
}